body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    /* background-image: -webkit-gradient(white, rgba(96, 96, 96, 1)); */
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    /* background-image: -webkit-linear-gradient(white, rgba(96, 96, 96, 1)); */
    /* Firefox 3.6 - 15 */
    /* background-image: -moz-linear-gradient(white, rgba(96, 96, 96, 1)); */
    /* Opera 11.1 - 12 */
    /* background-image: -o-linear-gradient(white, rgba(96, 96, 96, 1)); */
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    /* background-image: linear-gradient(white, rgba(96, 96, 96, 1)); */
}